@{
    ViewBag.Title = "Home Page";
}




<table border="0" style="width:100%;">
    <tr>
        <td align="center">
            <table border="0" style="width:90%;">
                <tr>
                    <td>

                        <div style="height:7px; ">
                            &nbsp;
                        </div>
                        <div id="showit1" style="font-size: 22px;font-family:Arial;color:black;font-weight:bold;display:block;background-color:white;width:auto;">
                            Instant Low Code Application Builder
                        </div>

                        <div style="height:9px; ">
                            &nbsp;
                        </div>
                        <p style="font-size: 14px;padding-top: 1px;">
                            <div style="font-size:20px;color:firebrick;font-weight:bold;">
                                Generates a Complete Business Online Application - in Minutes
                            </div>

                            <div style="font-size:14px;color:black;font-weight:normal;padding-top: 9px;">
                                All generated code has been fully tested and is easily customised
                                in VS 2019.
                            </div>
                            <div style="font-size:14px;color:black;font-weight:normal;padding-top: 12px;">
                                Instantly search and drill down multiple tables in a database. <br />
                                Ideal for IT Managers and other Business Managers to report and search
                                critical data.
                            </div>

                            <div style="height:19px; ">
                                &nbsp;
                            </div>

                            <strong style="font-size:18px;">A Single Page Application(SPA), built with ASP.NET Core MVC 3.1.</strong>

                            <div style="height:14px; ">
                                &nbsp;
                            </div>
                            Generates a modern business Rich Internet web app instantly, directly from your database.
                            <div style="height:14px; ">
                                &nbsp;
                            </div>
                            Has all necessary functionality, for a database application (eg CRUD).
                            <div style="height:14px; ">
                                &nbsp;
                            </div>
                            Automatically resizes to adapt to any device, including smart phones.
                            <div style="height:14px; ">
                                &nbsp;
                            </div>
                            Generates all the necessary ASP.NET MVC, C#, jQuery and bootstrap code.
                            <br />
                            <strong style="color:navy;font-size:14px;">Does not use AngularJS, React, Vue.js or any other javascript frameworks.</strong>
                            <div style="height:14px; ">
                                &nbsp;
                            </div>
                            Builds a project automatically, which can be opened in Visual Studio.
                            <div style="height:14px; ">
                                &nbsp;
                            </div>
                            Multi layered master/child menu navigation web application, with no page refresh.
                            <div style="height:14px; ">
                                &nbsp;
                            </div>
                            Instantly search and drill down multiple tables in a database.
                            <div style="height:14px; ">
                                &nbsp;
                            </div>
                            Has exported to PDF and spreadsheet functionality.
                            <div style="height:29px; ">
                                &nbsp;
                            </div>

                            Contact:-   Kalvin Ernst:  <a href="mailto:kalvinlernst@gmail.com" target="_blank">kalvinlernst@gmail.com</a>
                            <br /><br />

                        </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>


<div id="AboutGoTo" style="color:yellow;display: block;height:1px;">
    &nbsp;
</div>



<div style="font-size: 1px;color: white;height: 1px;" class="device-xs visible-xs">.</div>
<div style="font-size: 1px;color: white;height: 1px;" class="device-sm visible-sm">.</div>
<div style="font-size: 1px;color: white;height: 1px;" class="device-md visible-md">.</div>
<div style="font-size: 1px;color: white;height: 1px;" class="device-lg visible-lg">.</div>


<script type="text/javascript">

    //setTimeout(showit1, 50);

    function showit1() {
        $("#showit1").css("display", "block");  
        setTimeout(hideit1, 3900);
    }
    function hideit1() {
        $("#showit1").css("display", "none");

    }


    function isBreakpointGet(alias) {
        return $('.device-' + alias).is(':visible');
    }

</script>



